<html>
  <title>書籍売上TOP</title>
  <head> <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/button.css' />
</head>
  <body>
    <br>
    <label for="期間">期間：</label>
<select name="date" id="date">
  <option value="">--選択--</option>
  <option value="すべて">すべて</option>
    <option value="2022">2022</option>
    <option value="2022/10">2022/10</option>
    <option value="2022/09">2022/09</option>
    <option value="2022/08">2022/08</option>
    <option value="2022/07">2022/07</option>
    <option value="2022/06">2022/06</option>
    <option value="2022/05">2022/05</option>
    <option value="2022/04">2022/04</option>
    <option value="2022/03">2022/03</option>
    <option value="2022/02">2022/02</option>
    <option value="2022/01">2022/01</option>
    <br>
</select>
    <br>
    <br>
    <label for="ジャンル">ジャンル：</label>
<select name="genre" id="genre">
    <option value="">--選択--</option>
    <option value="すべて">すべて</option>
    <option value="雑誌">雑誌</option>
    <option value="小説">小説</option>
    <option value="漫画">漫画</option>
    <br>
    <br>
    <br>
    <br>
</select>
    <br>
    <br>
    <input type="button" onclick="location.href='sale.html'" value="表示">
  </body>
    
</html>
