<!DOCTYPE html>
<html>
  <head>
    <title>書籍情報</title>
    <link rel='stylesheet' href='/stylesheets/design.css' />
  </head>
  <body>
    <h1>書籍情報</h1>
    <p>下のボタンをクリックすると書籍一覧が見れます</p>
    
    <form action="/ranking" method="get">
      <br>
      <button type="submit" class ="btn btn--orange">一覧を表示する</button>
    </form>

  </body>
</html>