<!DOCTYPE html>
<html>
  <head>
    <title>T書店売上TOP</title>
    <link rel='stylesheet' href='/stylesheets/design.css' />
  </head>
  <body>
    <center><h1>T書店売上TOP</h1></center>
    <br>
    <br>
    <form action="/select" method="get">
      <br>
      <center><button type="submit">店頭販売</button>
      <br>
      <br>
      <button type="submit">レンタル事業</button>
      <br>
      <br>
      <button type="submit">ネット通販</button></center>
    </form>

  </body>
</html>