<!DOCTYPE html>
<html>
  <head>
    <title>管理</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>売上</h1>
    <div role ="main">
      <label for="絞り込み">絞り込み：</label>
<select name="genre" id="genre">
    <option value="">--選択--</option>
    <option value="すべて">すべて</option>
    <option value="コード">コード</option>
    <option value="タイトル">タイトル</option>
    <option value="著者名">著者名</option>
    <option value="価格">価格</option>
    <option value="冊数">冊数</option>
</select><br>
<label for="並べ替え">並べ替え：</label>
<select name="genre" id="genre">
    <option value="">--選択--</option>
    <option value="すべて">すべて</option>
    <option value="昇順">昇順</option>
    <option value="降順">降順</option>
</select><br>
      <table>     
        <tr>
          <th>コード</th>
          <th>タイトル</th>
          <th>著者名</th>
          <th>価格</th>
          <th>売上冊数</th>
        </tr>
        <tr>
          <th>code</th>
          <th>title</th>
          <th>author</th>
          <th>2000</th>
          <th>1500</th>
        </tr>
      </table>
    </div><br>
    <h1>発売予定</h1>
    <div role ="main">
      <label for="絞り込み">絞り込み：</label>
<select name="genre" id="genre">
    <option value="">--選択--</option>
    <option value="すべて">すべて</option>
    <option value="コード">コード</option>
    <option value="タイトル">タイトル</option>
    <option value="著者名">著者名</option>
    <option value="価格">価格</option>
    <option value="冊数">冊数</option>
</select><br>
<label for="並べ替え">並べ替え：</label>
<select name="genre" id="genre">
    <option value="">--選択--</option>
    <option value="すべて">すべて</option>
    <option value="昇順">昇順</option>
    <option value="降順">降順</option>
</select><br>
      <table>     
        <tr>
          <th>コード</th>
          <th>タイトル</th>
          <th>著者名</th>
          <th>価格</th>
          <th>発売予定冊数</th>
        </tr>
        <tr>
          <th>code</th>
          <th>title</th>
          <th>author</th>
          <th>1500</th>
          <th>100</th>
        </tr>
      </table>
    </div>
  </body>
</html>