<!DOCTYPE html>
<html>
  <head>
    <title>select</title>
    <link rel='stylesheet' href='/stylesheets/design.css' />
  </head>
  <body>
    <center><p>以下の選択肢から選んでください</p>
    
    <label for="期間">期間：</label>
    <select name="date" id="date">
      <option value="">--選択--</option>
      <option value="すべて">すべて</option>
      <option value="2022">2022</option>
      <option value="2022/10">2022/10</option>
      <option value="2022/09">2022/09</option>
      <option value="2022/08">2022/08</option>
      <option value="2022/07">2022/07</option>
      <option value="2022/06">2022/06</option>
      <option value="2022/05">2022/05</option>
      <option value="2022/04">2022/04</option>
      <option value="2022/03">2022/03</option>
      <option value="2022/02">2022/02</option>
      <option value="2022/01">2022/01</option>
      <br>
      }
  </select>
    <br>
    <br>
    <label for="ジャンル">ジャンル：</label>
    <select name="genre" id="genre">      
      <option value="">--選択--</option>
      <option value="すべて">すべて</option>
      <form action="/dvd" method="get"></form>

      <option value="書籍">書籍</option>
      <form action="/dvd" method="get"></form>
      
      <option value="DVD">DVD</option>
      <form action="/cd" method="get"></form>
      
      <option value="CD">CD</option>
      <form action="/cd" method="get"></form>
    <br>
    <br>
    <br>
    <br>
  </select>
    <br>
    <br>    
    <br>
    <form action="/dvd" method="get">
    <button type="submit" class ="btn btn--orange">表示</button>
    </center>
  </form>
   
  </body>
</html>