<html>
  <head>
    <title>条件選択</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta charset="utf-8">
</head>
  <body>
    <center>
        <label for="店舗">店舗：</label>
    <input type="test" value="shopID">
<br><br>
<br>

<label for="ジャンル">ジャンル：</label>
<select name="genre" id="genre">
    <option value="">--選択--</option>
    <option value="すべて">すべて</option>
    <option value="書籍">書籍</option>
    <option value="DVD">DVD</option>
    <option value="CD">CD</option>
</select>
<br><br>
<br>

    <label for="期間">期間　始め：</label>
    <input type="date">
    <br><br>
    <label for="期間">期間　終わり：</label>
    <input type="date">


    <br>
    <br>
<br>
    <br>
    <br>
    <input type="button" onclick="location.href='sale.html'" value="　管理画面表示　">
    </center></body>
    
</html>
