<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>事業選択</title>
  <meta charset="utf-8">
</head>
  <body>
<center>
    <input type="button" onclick="location.href='shop-top.html'" value="  店頭販売  "><br><br><br>
    <input type="button" onclick="location.href='shop-top.html'" value="  レンタル事業  "><br><br><br>
    <input type="button" onclick="location.href='shop-top.html'" value="  ネット通販  "><br>
</center>
    </body>
    
</html>